---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="Tentang Saya">
  <Page title="Tentang Saya">
    <p>
      Saya seorang pengembang web dengan pengalaman 3 tahun di industri pengembangan web. Selama perjalanan karir saya,
      saya telah menguasai berbagai teknologi dan framework seperti Laravel, CodeIgniter, JavaScript, dan NodeJS
      (ExpressJS), yang saya terapkan dalam membuat API RESTful yang handal dan aplikasi monolitik. Selain itu, saya
      memiliki pemahaman mendalam tentang Ubuntu Server, web hosting, DNS, Git, serta database seperti MySQL,
      PostgreSQL, MongoDB, dan Firebase.
    </p>
    <p>
      Selain keterampilan teknis, saya memiliki beragam keterampilan lunak yang mendukung kemampuan saya sebagai
      pengembang web. Keterampilan berpikir kritis saya memungkinkan saya mengatasi tantangan kompleks dan menemukan
      solusi inovatif. Saya juga memiliki keterampilan kepemimpinan tim yang kuat, yang memungkinkan saya memimpin dan
      mengkoordinasikan tim dalam proyek pengembangan. Kemampuan pemecahan masalah dan keterampilan komunikasi yang
      efektif saya sangat membantu dalam menyelesaikan tugas dengan efisien, baik secara individu maupun sebagai bagian
      dari tim. Terakhir, keterampilan kolaboratif saya membuat saya menjadi aset berharga dalam proyek pengembangan
      web.
    </p>
  </Page>
</Base>
