---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="Portfolio">
  <Page title="My Portfolio">
    <h3>Halaman ini sedang dalam pengembangan, silahkan menuju halaman GitHub saya!👋</h3>
  </Page>
</Base>
